.filterContainer {
  background-color: #f9fafb;
  border: none;
  border-radius: 16px;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

.filterSection {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* add spacing between checkbox & label text */
  margin-bottom: 0.5rem;
}

.filterLabel {
  font-weight: 600;
  font-size: 1rem;
  color: #2563eb;
}

.sortSection {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* adds space between 'Sort by:' and dropdown */
}

.sortLabel {
  font-weight: 600;
  font-size: 1rem;
  color: #2563eb;
}

select {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}
